<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117997195241-uih17eeu5rbsdlidge3hu9q15rrtthbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117997195241-uih17eeu5rbsdlidge3hu9q15rrtthbe</string>
	<key>API_KEY</key>
	<string>AIzaSyBcuC0gbNaoDThpbnSkUIFmo9S1LhAb1II</string>
	<key>GCM_SENDER_ID</key>
	<string>117997195241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bgsmm.MusicBox</string>
	<key>PROJECT_ID</key>
	<string>musicbox-729f0</string>
	<key>STORAGE_BUCKET</key>
	<string>musicbox-729f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117997195241:ios:9bbe44b85477871562c578</string>
</dict>
</plist>